USE [FIAS_GAR]
GO
/****** Object:  Table [dbo].[ADDR_OBJ]    Script Date: 01.08.2024 15:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDR_OBJ](
	[ID] [int] NOT NULL,
	[OBJECTID] [bigint] NULL,
	[OBJECTGUID] [varchar](max) NULL,
	[CHANGEID] [bigint] NULL,
	[NAME] [nvarchar](max) NULL,
	[TYPENAME] [nvarchar](max) NULL,
	[LEVEL] [int] NULL,
	[OPERTYPEID] [int] NULL,
	[PREVID] [int] NULL,
	[NEXTID] [int] NULL,
	[UPDATEDATE] [date] NULL,
	[STARTDATE] [date] NULL,
	[ENDDATE] [date] NULL,
	[ISACTUAL] [int] NULL,
	[ISACTIVE] [int] NULL,
 CONSTRAINT [PK_Лист2$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AS_OBJECT_LEVELS]    Script Date: 01.08.2024 15:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AS_OBJECT_LEVELS](
	[LEVEL] [int] NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[STARTDATE] [date] NULL,
	[ENDDATE] [date] NULL,
	[UPDATEDATE] [date] NULL,
	[ISACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_AS_OBJECT_LEVELS] PRIMARY KEY CLUSTERED 
(
	[LEVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADDR_OBJ] ([ID], [OBJECTID], [OBJECTGUID], [CHANGEID], [NAME], [TYPENAME], [LEVEL], [OPERTYPEID], [PREVID], [NEXTID], [UPDATEDATE], [STARTDATE], [ENDDATE], [ISACTUAL], [ISACTIVE]) VALUES (659214, 544004, N'a7ef87d2-4483-4730-b1c1-057f2a57da2e', 1422570, N'Закрышкино', N'д', 6, 1, 0, 52120417, CAST(N'2024-07-23' AS Date), CAST(N'1900-01-01' AS Date), CAST(N'2024-07-23' AS Date), 0, 0)
INSERT [dbo].[ADDR_OBJ] ([ID], [OBJECTID], [OBJECTGUID], [CHANGEID], [NAME], [TYPENAME], [LEVEL], [OPERTYPEID], [PREVID], [NEXTID], [UPDATEDATE], [STARTDATE], [ENDDATE], [ISACTUAL], [ISACTIVE]) VALUES (661193, 545377, N'bb3b62d5-f1e1-4113-ba33-ad81f1dc6159', 1426229, N'Пустошка', N'д', 6, 50, 661131, 52120313, CAST(N'2024-07-22' AS Date), CAST(N'2014-01-04' AS Date), CAST(N'2024-07-22' AS Date), 0, 0)
INSERT [dbo].[ADDR_OBJ] ([ID], [OBJECTID], [OBJECTGUID], [CHANGEID], [NAME], [TYPENAME], [LEVEL], [OPERTYPEID], [PREVID], [NEXTID], [UPDATEDATE], [STARTDATE], [ENDDATE], [ISACTUAL], [ISACTIVE]) VALUES (662995, 546686, N'0bbccc69-afc3-47f3-b3ef-1335fcd4aaf1', 1429508, N'Слободка', N'д', 6, 1, 0, 52120115, CAST(N'2024-07-19' AS Date), CAST(N'1900-01-01' AS Date), CAST(N'2024-07-19' AS Date), 0, 0)
GO
INSERT [dbo].[AS_OBJECT_LEVELS] ([LEVEL], [NAME], [STARTDATE], [ENDDATE], [UPDATEDATE], [ISACTIVE]) VALUES (1, N'Субъект РФ', CAST(N'1900-01-01' AS Date), CAST(N'2079-06-06' AS Date), CAST(N'1900-01-01' AS Date), 1)
INSERT [dbo].[AS_OBJECT_LEVELS] ([LEVEL], [NAME], [STARTDATE], [ENDDATE], [UPDATEDATE], [ISACTIVE]) VALUES (2, N'Административный район', CAST(N'1900-01-01' AS Date), CAST(N'2079-06-06' AS Date), CAST(N'1900-01-01' AS Date), 1)
INSERT [dbo].[AS_OBJECT_LEVELS] ([LEVEL], [NAME], [STARTDATE], [ENDDATE], [UPDATEDATE], [ISACTIVE]) VALUES (3, N'Муниципальный район', CAST(N'1900-01-01' AS Date), CAST(N'2079-06-06' AS Date), CAST(N'1900-01-01' AS Date), 1)
GO
ALTER TABLE [dbo].[ADDR_OBJ]  WITH CHECK ADD  CONSTRAINT [FK_ADDR_OBJ_AS_OBJECT_LEVELS] FOREIGN KEY([LEVEL])
REFERENCES [dbo].[AS_OBJECT_LEVELS] ([LEVEL])
GO
ALTER TABLE [dbo].[ADDR_OBJ] CHECK CONSTRAINT [FK_ADDR_OBJ_AS_OBJECT_LEVELS]
GO
